<div style="padding:20px 20px 20px; 
            color:#004346;
            font-size:40px;
            display:fill;
            text-align:center;
            border-radius:20px;
            border: 5px double;
            border-color:#201E20;
            background-color: #E8F1F2;
            overflow:hidden;
            font-weight:400"> 
<p style="font-weight: bold; text-align: center;">Прогнозирование заказов такси</p>

</div>

<div style="padding:0px 40px 30px; 
            color:#004346;
            font-size:110%;
            display:fill;
            border-radius:20px;
            border: 5px double;
            border-color:#201E20;
            background-color: #E8F1F2;
            overflow:hidden;
            font-weight:450;"> 
    
__Заказчик:__ Компания «Чётенькое такси».
    
__Постановка задачи:__ Для привлечения водителей в период пиковой нагрузки, нужно спрогнозировать количество заказов такси на следующий час, построив модель.
    
__Оценка результата:__ Сравнение качества работы моделей. Значение метрики RMSE на тестовой выборке должно быть не больше 48.
    
__Описание данных:__ Исторические данные о заказах такси в аэропортах
    
</div>

<div style="padding:0px 20px 10px; 
            color:#004346;
            font-size:15px;
            display:fill;
            text-align:center;
            border-radius:20px;
            border: 5px double;
            border-color:#201E20;
            background-color: #E8F1F2;
            overflow:hidden;
            font-weight:400"> 

# Используемые библиотеки

</div>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

<div style="padding:0px 20px 10px; 
            color:#004346;
            font-size:15px;
            display:fill;
            text-align:center;
            border-radius:20px;
            border: 5px double;
            border-color:#201E20;
            background-color: #E8F1F2;
            overflow:hidden;
            font-weight:400"> 

# Загрузка данных

</div>

In [2]:
# загрузка данных:
try:
    df = pd.read_csv('datasets/taxi.csv')
    display(df.head(2))
except:
    display('Данные не доступны')

              datetime  num_orders
0  2018-03-01 00:00:00           9
1  2018-03-01 00:10:00          14

<div style="padding:0px 20px 10px; 
            color:#004346;
            font-size:15px;
            display:fill;
            text-align:center;
            border-radius:20px;
            border: 5px double;
            border-color:#201E20;
            background-color: #E8F1F2;
            overflow:hidden;
            font-weight:400"> 

# Предобработка и исследовательский анализ данных

## Общая информация

</div>

In [3]:
display(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26496 entries, 0 to 26495
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   datetime    26496 non-null  object
 1   num_orders  26496 non-null  int64
dtypes: int64(1), object(1)
memory usage: 414.1+ KB

None

__Проверим пропуски в данных:__

In [4]:
print(f'Общее количество пропусков в данных: {sum(col_pas for col_pas in df.isna().sum())}')

Общее количество пропусков в данных: 0

__Проверим дубликатов в данных:__

In [5]:
print(f'Общее количество дубликатов в данных: {df.duplicated().sum()}')

Общее количество дубликатов в данных: 0

<div style="padding: 30px 25px; border: 2px #6495ed solid">

- Данные загружены корректно.
- Пропуски в данных отсутствуют.
- Дублитакы в данных отсутствуют.
    
__Недостатки:__
- Признак `datetime` представлен в типе object, следует изменить на datetime64
    
</div>

__Обработка типов данных:__

In [6]:
df['datetime'] = pd.to_datetime(df['datetime'])

__Установка индекса таблицы равным столбцу `datetime`:__

In [7]:
df = df.set_index('datetime')
display(df.head(2))

                     num_orders
datetime
2018-03-01 00:00:00           9
2018-03-01 00:10:00          14

<div style="padding:0px 20px 10px; 
            color:#004346;
            font-size:15px;
            display:fill;
            text-align:center;
            border-radius:20px;
            border: 5px double;
            border-color:#201E20;
            background-color: #E8F1F2;
            overflow:hidden;
            font-weight:400"> 

## Анализ данных
    
</div>

## Обучение

## Тестирование

## Чек-лист проверки

- [x]  Jupyter Notebook открыт
- [ ]  Весь код выполняется без ошибок
- [ ]  Ячейки с кодом расположены в порядке исполнения
- [ ]  Данные загружены и подготовлены
- [ ]  Данные проанализированы
- [ ]  Модель обучена, гиперпараметры подобраны
- [ ]  Качество моделей проверено, выводы сделаны
- [ ]  Значение *RMSE* на тестовой выборке не больше 48